.reviews{
    width: 100%;
    height: 100%;
    min-height: 100Vh;
    background-color: #eee;
    padding: 5rem  10rem;
    text-align: center;
    position: relative;

}
.reviews-head{
text-align: center;
margin-bottom: 3rem;
}
.reviews-head h1{
    font-size: 3rem;
    font-family: inherit;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1.1px;
    color: #08021f;
    position: relative;
    display: inline-block;
}
.reviews-head h1::after{
    content: "";
    width: 50%;
    height: 3px;
    bottom: -.6rem;
    left: 25%;
    position:absolute;
    background-color: #128ddf;
    transition: all.2s;
}
.reviews-head h1:hover::after{
    width: 90%;
    left: 5%;
}